#FlimListCtrl-div{
    margin-top: 18px;
}

select {
   width: 80%;
   margin: 15px auto;  
}

.backgroundTexture{
    background-image: url(../img/whitey.png);
    background-repeat:repeat;
    height: 1136px;
}

#sidr{
    margin-top: 18px; 
}

p{
    padding: 0 20px;
}

hr{
    margin-top: 0px;
}

.title{
    text-align: center;
}
.hiddenButtons{
    visibility: hidden;
    height: 0px;
}
.twitterUser{
    text-decoration: none;
}
.time{
    font-size: 11px;
}
.tab-item .icon {
display: block;
margin: 0 auto;
height: 100%;
font-size: 32px;
}
.item h2 {
margin: 0 0 4px 0;
font-size: 16px;
padding: 0 0 3px 0;
}
.item-body p {
margin-top: 0px; 
margin-bottom: 0px; 
}
.flickerplate ul.flicks li .flick-sub {
padding: 0 0px;
font-weight: 300;
line-height: 2em;
color: #000;
text-align: left;
height: 100%;
}
.sidr ul li {
display: block;
margin: 0;
line-height: 41px;
border-top: 1px solid #4d4d4d;
border-bottom: 1px solid #1a1a1a;
height: 43px;
}
.navListItem{
    background-color: #333333 !important;
}
.navItems{
    margin-left: 20px;
}

img{
    width: 115%;
    margin-left: -20px;
    height: 100%;
      }

.bar.bar-dark  {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.71);
    -moz-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.71);
    box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.71);
}